@mixin profile-avatar ($av-bg, $av-pos, $top, $left) {
    // background and border for avatar
    @if $av-bg {
        box-shadow: 0px 0px 0px 3px $av-bg !important;
        background: $av-bg !important;
    }
    @if $av-pos {
        .custom-image {
            .show & {
                top: $top;
                left: $left;
            }
        }
    }
}

@mixin profile-chatbox ($accent-color, $name-color, $chat-border, $chat-text-color, $chat-bg-image) {

    // Chatbox Border
    +.message-container {

        // Border for bubble
        @if $chat-border {
            border: solid 5px $accent-color !important;

            // Chatbox Left Arrow
            &:after {
                border-right-color: $accent-color !important;
            }
        }

        // Bg image for bubble
        @if $chat-bg-image {
            background: transparent;
            background-size: cover;
            background-position: top;
            background-image: url($chat-bg-image);
        }

        // Name color
        @if $name-color {
            .name {
                color: $name-color !important;
            }
        }

        // Chat text color
        @if $chat-text-color {
            .message {
                color: $chat-text-color !important;
            }
        }
    }
}