.emote {
  height: 82px;
  width: 26%;
  display: inline-block;
  position: relative;
  padding: 0.4em 0.2em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 6px;

  .smallest-emotes & {
    width: 12%;
    height: 38px;
  }

  .emote-big & {
    width: 100%;
    height: 120%;

    img {
      height: 12em;
    }

    &:nth-child(n+2) {
      display: none;
    }
  }

  .emote-x4 & {
    width: 100%;
    height: 140%;

    img {
      height: 10em;
    }

    & {
      &:nth-child(n+2) {
        display: none;
      }
    }
  }

  .emote-x5 & {
    width: 100%;
    height: 190%;

    img {
      height: 18em;
    }

    &:nth-child(n+2) {
      display: none;
    }
  }

  .emote-x10 & {
    width: 100%;
    height: 250%;

    img {
      height: 18em;
    }

    & {
      &:nth-child(n+2) {
        display: none;
      }
    }
  }

  .single-emotes & {
    height: 80px;
    width: 100%;
  }

  img {
    height: 1em;
    display: inline-block;
    opacity: 0;
  }
}