// Colors
$blue: #0952bd;
$deep-blue: #1e3090;
$light-blue: #75cfff;
$white: #fff;
$black: #000;
$red: #cb4263;
$magenta: #ba3863;
$purple: #bf11ff;
$cyan: #6befff;
$pink: #ff9fd4;
$neon-green: #8aff73;
$raava-blue:#62c2db;
$raava-red: #f06c8f;

// Background Images for Chat Bubbles
$divine-bg-image: 'https://images.unsplash.com/photo-1540458638618-893e9fb35c07?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1854&q=80';