/* Error: Undefined variable.
 *    ,
 * 71 |         $divine-bg-image
 *    |         ^^^^^^^^^^^^^^^^
 *    '
 *   assets\scss\components\_custom-profiles.scss 71:9  @import
 *   assets\scss\main.scss 5:9                          root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 71 \2502          $divine-bg-image\d\a    \2502          ^^^^^^^^^^^^^^^^\a    \2575 \a   assets\\scss\\components\\_custom-profiles.scss 71:9  @import\a   assets\\scss\\main.scss 5:9                          root stylesheet";
}
